    <style type="text/css">
      tr.foo {
      	background: yellow;
      }
      body {
      	margin-left: 5%;
      	margin-right: 5%;
      	margin-top: 1.5em;
      	color: black;
      	background: white;
      }
      h1 {
      	margin-left: -2%;
      	font-size: 200%;
      	color: 660000;
      }
      h2,h3 {
      	margin-left: 0%;
      	font-size: 120%;
      	color: #FF6600;
      }
      h4,h5,h6 {
      	margin-left: 2%;
      	font-size: 80%;
	color: blue;
      }
      code.h {
	color: blue;
      }
      pre {
	color: #360;
      	font-weight: bold;
      	font-family: monospace;
      }
      pre.plain {
	font-family: monospace;
	color: black;
      }
      code {
      	color: black;
      	font-family: monospace;
      }
      code.class {
      	color: black;
      	font-family: monospace;
      }
      code.colored {
      	color: #360;
      	font-weight: bold;
      	font-family: monospace;
      }
      :link { color: rgb(0,0, 153) }
      :visited { color: rgb(153, 0, 153) }
      :active { color: rgb(255, 0, 102) }
      :hover { color: rgb(0, 96, 255) }
      table.summary {
      	font-family: sans-serif;
      	font-size: 70%;
      	background: #CCCCCC;
      	border-width: 0;
      	border-color: white;
      	padding-left: 2%;
      	padding-right: 2%;
      	margin-left: 50%;
      	margin-right: 5%
      }
      table.summary th {
      	color: maroon;
      	text-align: center;
      }
      table.summary td {
      	text-align: left;
      	padding-top: 1%;
      	padding-bottom: 1%;
      }
      table.summary a:link {
	color: blue;
      }
      table.summary a:visited {
	color: blue;
      }
      table.tip {
      	border-width: 0;
      	width: 45%;
      	table-width: 45%;
      	padding-left: 1%;
      	padding-right: 1%;
      	padding-bottom: 1%;
      	padding-top: 1%;
      }
      table.tip tr {
     	 background: #FFC;
      }
      table.tip th {
      	color: purple;
      	font-style: italic;
      	font-size: small;
      	vertical-align: top;
      	text-align: right;
      }
      table.tip td {
      	color: blue;
      	text-align: left;
      }
      table.tip a:visited {
	color: blue;
      }
      p.navigationbar {
      	background-color: blue;
      	font-size: 0.75em;
      	font-family: sans-serif;
      	border-top:solid;
      	border-bottom: solid;
      	border-top-width: thin;
      	border-bottom-width: thin;
      	border-left: none;
      	border-right: none;
      	color: blue;
      	border-color: red;
      	text-align: center;
      	width: 90%;
      	margin-bottom: 0;
      }
      p.navigationbar a:link {
      	color: white;
     	 text-decoration: none;
      }
      p.navigationbar a:hover {
      	background-color: aqua;
      	color: yellow;
      	text-decoration: none;
      }
      p.navigationbar a:active {
    	background-color: #ffb0d3;
      	color: black;
      	text-decoration: none;
      }
      p.navigationbar a:visited {
      	color: white;
      	text-decoration: none;
      }
      p.navigationbar br {
      	border-top: solid;
      	border-color: yellow;
      }
      a.feedback {
      	font-family: sans-serif;
      	font-size: 70%;
      	text-decoration: none;
      }
    </style>
